<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Votre recherche</title>
    <link rel="stylesheet" href="https://cdn.metroui.org.ua/current/metro.css">
</head>
<body>
Numero de dossier demandé : {{name}}


<h2>Liste des commandes pour le client </h2>

<ul>
{% for row in client %}
        <li>Nom : {{ row[0] }}</li>
    {% endfor %}
</ul>


<table class="table">
    <thead><tr><th>Num</th><th>Date</th><th>Montant</th></tr></thead>

    {% for row in data %}
    <tr><td>{{ row[1] }}</td><td>{{ row[2].strftime('%d/%m/%Y') }}</td><td>{{ '%0.2f'|format(row[3]) }} €</td></tr>
    {% endfor %}

</table>

<script src="https://cdn.metroui.org.ua/current/metro.js"></script>
</body>
</html>